:root {
  --border-radius: 12px;

  --box-shadow: 0px 9px 26px rgba(198, 198, 198, 0.25);

  --color-white: #fff;
  --color-blue: #2973f9;
  --color-orange: #e95e44;
  --color-navy-blue: #0e254f;

  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;

  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;

  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}
