.skills {
  background-color: black;
  padding: 80px 20px;
  text-align: center;
  color: black;
}

.skills h2 {
  color: var(--color-white);
}

.skills p {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.skill {
  /* height: 200px; */
  background-color: var(--color-white);
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  padding: 20px;
}

.skill img {
  width: 48%;
}
